<html>
  <head>
    <title> FortForecast Forums </title>
    <link rel="stylesheet" href="/static/boards.css">
    <meta charset="UTF-8">
  </head>
  <body>
    <table>
      {% for pboard in public_boards %}
      <tr>
	<div class="board-left">
	  <td><a href="{% url 'board' pboard.id %}">{{ pboard.board.title }}</a></td>
	<td>{{ pboard.board.description }}</td>
	<td>{{ pboard.board.creation_date }}</td>
	</div>
	<div class="board-right">
	  <td>{{ pboard.board.last_activity }}</td>
	  <td>{{ pboard.board.locked }}</td>
	</div>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>

