<html>
  <head>
    <title>{{ thread.title }} | FortForecast</title>
    <link rel="stylesheet" href="/static/thread.css">
    <meta charset="UTF-8">
  </head>
  <body>
    <div class="thread-body">
      <article class="thread-post">
	<p class="author">{{ thread.author }}</p>
	<p class="modified">{{ tbody.version }}</p>
	<p class="body-text">{{ tbody.body }}</p>
      </article>
    </div>
    <div class="thread-posts">
    {% for tpost in tposts %}
    <article class="thread-post">
      <p class="author">{{ tpost.author }}</p>
      <p class="mood">{{ tpost.mood }}</p>
      <p class="created">{{ tpost.creation_date }}</p>
      <p class="text">{{ tpost.body }}</p>
    </article>
    {% endfor %}
    <a href="{% url 'newpost' thread.board.id thread.id %}">New Post</a>
    </div>
  </body>
</html>

